<h1>Editing student</h1>

<div class="form-group">
<%= render 'form' %>
</div>
<%= link_to("Show", @student, class: "btn btn-primary btn-sm") %>
<%= link_to("Back", students_path, class: "btn btn-primary btn-sm") %>